---
import type { SiteConfig } from "@types";

type Props = {
  author: SiteConfig["author"];
};

const { author } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer
  class="w-full border-t border-neutral/20 px-5 pt-5 pb-8 text-center text-white"
>
<p class="text-xs">
  {author} © {currentYear}.
</p>
</footer>
