---
import Section from "./Section.astro";
import type { SocialLink } from "@types";

export interface Props {
  socialLinks: SocialLink[];
}

const { socialLinks } = Astro.props;
---

<Section title="Connect with Me" href="contact">
  <div class="flex gap-4 mt-4">
    {socialLinks.map(({ text, href, icon }) => (
      <a
        href={href}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2 text-primary hover:underline"
      >
        {icon && <img src={icon} alt={text} class="h-5 w-5" />}
        {text}
      </a>
    ))}
  </div>
</Section>
