---
import type { TechStackItem } from "@types";

export interface Props {
  techStack: TechStackItem[];
}

const { techStack } = Astro.props;
---

<section id="techstack" class="py-12 bg-[#5755ff] text-white">
  <h2 class="section-title text-white">Tech Stack</h2>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
    {techStack.map(({ name }) => (
      <div class="tech-pill bg-white text-[#5755ff] font-semibold">{name}</div>
    ))}
  </div>
</section>
